div {
      justify-content: center;
      text-align: center;
  }

  #viewport2 {
    background-color: rgb(186, 218, 223);
    height: 80px;
    justify-content: right;
    text-align: right;
    width: 250px;}

#viewport1 {
      background-color: rgb(216, 229, 231);
      height: 80px;
      justify-content: right;
      text-align: right;
      width: 250px;
  }
.calculatorBody {
      align-items: center;
      display: flex;
      flex-direction: column;
  }
.btnContainer {
      display: flex;
  }
.numberButtonsContainer {
      display: flex;
      flex-direction: column;
  }
.numberSet {
      display: flex;
  }
.numberBtn {
      background-color: powderblue;
      height: 50px;
      width: 50px;
  }
#clearBtn {
      background-color: rgb(167, 0, 0);
      height: 50px;
      width: 50px;
  }
#zeroBtn {
      background-color: powderblue;
      height: 50px;
      width: 50px;
  }
#decimalBtn {
      background-color: rgb(51, 62, 63);
      flex: none;
      height: 50px;
      width: 50px;
  }
#deleteBtn {
      background-color: rgb(212, 57, 57);
      height: 50px;
      width: 50px;
  }
.commandButtons {
      display: flex;
      flex-direction: column;
  }
#equalsBtn {
      background-color: rgb(187, 228, 231);
      flex: 1;
  }
.operatorBtn {
      background-color: rgb(236, 144, 24);
      height: 50px;
      width: 50px;
  }
.commandButtons {
      display: flex;
      flex-direction: row;
  }
.cmdSet2 {
      display: flex;
      flex-direction: column;
  }